body {
    font-family: Verdana, sans-serif;
    background-color: rgb(36, 36, 36);
}

.page-title {
    color: lightgrey;
    background-color: rgb(46, 46, 46);
}

ul {
    background-color: rgb(46,46,46);
}

.options {
    color: crimson;
    font-size: 20px;
    font-weight: 800;
}